[submodule "vue-cropper"]
	path = vue-cropper
	url = https://github.com/Trandx/vue-cropper.git

[submodule "native"]
	path = native
	url = https://github.com/Trandx/native.git
	
[submodule "tailwind-config"]
	path = tailwind-config
	url = https://github.com/Trandx/tailwind-config.git
