
:root{
/* --color-primary: rgb(0 184 179); */
--ms-font-size: 1rem;
--ms-line-height: 1.375;
--ms-bg: #FFFFFF;
--ms-bg-disabled: #F3F4F6;
--ms-border-color: #D1D5DB;
--ms-border-width: 1px;
--ms-radius: 4px;
--ms-py: 0.5rem;
--ms-px: 0.875rem;
--ms-ring-width: 3px;
--ms-ring-color: #e7e7e730;
--ms-placeholder-color: #9CA3AF;
--ms-max-height: 10rem;

--ms-spinner-color: #10B981;
--ms-caret-color: #999999;
--ms-clear-color: #999999;
--ms-clear-color-hover: rgb(209 213 219 );
  
--ms-tag-font-size: auto;
--ms-tag-line-height: 1.25rem;
--ms-tag-font-weight: 600;
--ms-tag-bg: #000000;
--ms-tag-bg-disabled: #9CA3AF;
--ms-tag-color: #c01010;
--ms-tag-color-disabled: #FFFFFF;
--ms-tag-radius: 4px;
--ms-tag-py: 0.125rem;
--ms-tag-px: 0.5rem;
--ms-tag-my: 0.25rem;
--ms-tag-mx: 0.25rem;
--ms-tag-remove-radius: 4px;
--ms-tag-remove-py: 0.25rem;
--ms-tag-remove-px: 0.25rem;
--ms-tag-remove-my: 0rem;
--ms-tag-remove-mx: 0.125rem;

--ms-dropdown-bg: rgb(255, 255, 255);
--ms-dropdown-border-color: #ffffff;
--ms-dropdown-border-width: 0;
--ms-dropdown-radius: 4px;

--ms-group-label-py: 0.3rem;
--ms-group-label-px: 0.75rem;
--ms-group-label-line-height: 1.375;
--ms-group-label-bg: rgb(209 213 219 ) ;
--ms-group-label-color: #ffffff;
--ms-group-label-bg-pointed: #1f4a8a;
--ms-group-label-color-pointed: #ffffff;
--ms-group-label-bg-disabled: #F3F4F6;
--ms-group-label-color-disabled: #D1D5DB;
--ms-group-label-bg-selected: #343636;
--ms-group-label-color-selected: #FFFFFF;
--ms-group-label-bg-selected-pointed: #182521;
--ms-group-label-color-selected-pointed: #FFFFFF;
--ms-group-label-bg-selected-disabled: #75cfb1;
--ms-group-label-color-selected-disabled: #D1FAE5;

--ms-option-font-size: 1rem;
--ms-option-line-height: 1.375;
--ms-option-bg-pointed: #FFFFFF;
--ms-option-color-pointed: #1F2937;
--ms-option-bg-selected: #202221;
--ms-option-color-selected: #FFFFFF;
--ms-option-bg-disabled: #FFFFFF;
--ms-option-color-disabled: #D1D5DB;
--ms-option-bg-selected-pointed: #202221;
--ms-option-color-selected-pointed: #FFFFFF;
--ms-option-bg-selected-disabled: #FFFFFF;
--ms-option-color-selected-disabled: #f5d1fa;
--ms-option-py: 0.5rem;
--ms-option-px: 0.75rem;

--ms-empty-color: #ffffff;
}

.multiselect {

    --ms-bg: rgba(17, 24, 39);
    color: white;
    --ms-tag-bg: rgba(55 65 81);
    --ms-tag-color: #ffffff;
    --ms-tag-font-size: auto;
    --ms-tag-line-height: 1.25rem;
    --ms-tag-font-weight: 500;
    --ms-tag-radius: 4px;
    --ms-tag-py: 0.5rem;
    --ms-tag-px: 0.5rem;
    --ms-tag-my: 0.25rem;
    --ms-tag-mx: 0.25rem;
    --ms-tag-remove-radius: 4px;
    --ms-tag-remove-py: auto;
    --ms-tag-remove-px: auto;
    --ms-tag-remove-my: 0;
    --ms-tag-remove-mx: 0.125rem;
  
    --ms-group-label-bg: rgb(17, 24, 39) ;

    --ms-clear-color:rgb(255, 255, 255);
    --ms-clear-color-hover: rgb(var(--color-primary));
    --ms-caret-color: rgb(255, 255, 255);
    

    --ms-option-line-height: 1.375;
    --ms-option-bg-pointed: rgb(23, 55, 124);
    --ms-option-color-pointed: #0a0a0a;

    --ms-dropdown-bg: rgba(55 65 81);
    --ms-dropdown-border-color: #ffffff;
    --ms-dropdown-border-width: 1px;
    --ms-dropdown-radius: 4px;
}

.multiselect-tags-search{
    background-color: var(--ms-tag-bg);
    border: 0 solid !important;
    border-radius: 10px;
    border-color: #ffffff !important;
    color: white;
    padding-left: 15px;
}
.multiselect-placeholder{
    margin-left: 15px;
    padding-top: 5px;
}